{% extends "::layout.html.twig" %}

{% block body %}
	<div class="last-content-container">
		<div class="basic-container">
			<p class="basic-label">
				En cours d'etablissement ...
			</p>
		</div>
	</div>
{% endblock %}